In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
classified = pd.read_csv('classified_dataframe.csv')

/software/anaconda3/2019.03/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (12,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
classified['Classification'].unique()

#N -> 8 semester
#NT -> 9-12 semesters
#TP -> over 12 semesters
#NG -> Non-graduate

array(['N', 'NG', 'NT', 'TP'], dtype=object)

In [4]:
classified.head()

,Unnamed: 0,SubjectID,Year Term ID_x,Term GPA,Cumul GPA,Cumul Hrs Earned,Cumul Hrs GPA,Term Transfer Hrs,Year Term ID_y,Ps1 Timestat Code,...,Ps1 Acad Standing Desc,Gender,Citizen Country Name,HS City,SAT Total,ACT Composite,Degree Award Date,Degree Confer Date,Classification,classification
0,0,172789163,20062.0,0.0,3.07,128.0,128.0,0.0,20062.0,X,...,ACTIVE,M,USA,.,NaN,NaN,5/16/04 0:00,10/5/06 0:00,N,N
1,1,172846340,20102.0,3.3,2.70,128.0,77.0,26.0,20102.0,P,...,PROBATION,F,USA,Burnt Hills,NaN,NaN,5/16/10 0:00,5/16/10 0:00,N,N
2,2,172846340,20102.0,3.3,2.70,128.0,77.0,26.0,20102.0,P,...,PROBATION,F,USA,Burnt Hills,NaN,NaN,5/16/10 0:00,5/16/10 0:00,N,N
3,3,172857770,20162.0,0.0,2.20,128.0,124.0,0.0,20162.0,F,...,ACTIVE,M,USA,Wallingford,NaN,NaN,8/31/16 0:00,12/31/16 0:00,N,N
4,4,172857770,20171.0,0.0,2.20,132.0,124.0,4.0,20162.0,F,...,ACTIVE,M,USA,Wallingford,NaN,NaN,8/31/16 0:00,12/31/16 0:00,N,N

In [5]:
classified.duplicated().any()

False

In [6]:
classified['SubjectID'].nunique()

20387

In [7]:
classified_students = classified.groupby(['SubjectID']).tail(1)

In [8]:
classified_students.head()

,Unnamed: 0,SubjectID,Year Term ID_x,Term GPA,Cumul GPA,Cumul Hrs Earned,Cumul Hrs GPA,Term Transfer Hrs,Year Term ID_y,Ps1 Timestat Code,...,Ps1 Acad Standing Desc,Gender,Citizen Country Name,HS City,SAT Total,ACT Composite,Degree Award Date,Degree Confer Date,Classification,classification
0,0,172789163,20062.0,0.00,3.07,128.0,128.0,0.0,20062.0,X,...,ACTIVE,M,USA,.,NaN,NaN,5/16/04 0:00,10/5/06 0:00,N,N
2,2,172846340,20102.0,3.30,2.70,128.0,77.0,26.0,20102.0,P,...,PROBATION,F,USA,Burnt Hills,NaN,NaN,5/16/10 0:00,5/16/10 0:00,N,N
4,4,172857770,20171.0,0.00,2.20,132.0,124.0,4.0,20162.0,F,...,ACTIVE,M,USA,Wallingford,NaN,NaN,8/31/16 0:00,12/31/16 0:00,N,N
334,334,175397669,19921.0,0.00,2.07,78.0,44.0,0.0,19921.0,X,...,ACTIVE,M,USA,Rochester,930.0,NaN,NaN,NaN,NG,NG
526,526,175693463,20001.0,3.25,3.02,130.0,95.0,3.0,20001.0,F,...,ACTIVE,F,USA,East Rochester,1210.0,29.0,12/31/99 0:00,10/12/01 0:00,N,N

In [9]:
normal_grad=[]
nine_twelve =[]
twelve_more=[]
non_grad=[]
for ind in classified_students.index:
   
    if (classified_students.loc[ind, 'classification'] == 'N'):
        normal_grad.append(classified_students.loc[ind, 'SubjectID'])
    elif (classified_students.loc[ind, 'classification'] == 'NG'):
        non_grad.append(classified_students.loc[ind, 'SubjectID'])
    elif (classified_students.loc[ind, 'classification'] == 'NT'):
        nine_twelve.append(classified_students.loc[ind, 'SubjectID'])
    elif (classified_students.loc[ind, 'classification'] == 'TP'):
        twelve_more.append(classified_students.loc[ind, 'SubjectID'])

In [10]:
len(normal_grad)

11267

In [11]:
len(nine_twelve)

6056

In [12]:
len(twelve_more)

340

In [13]:
len(non_grad)

2724

In [14]:
len(normal_grad)+len(nine_twelve)+len(twelve_more)+len(non_grad)

20387

In [15]:
pd.set_option("display.max_columns", 100)

In [16]:
course = pd.read_csv('clean course data.csv')
term = pd.read_csv('clean term data.csv')
demo = pd.read_csv('clean Demo data.csv')

/software/anaconda3/2019.03/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (38,44,54) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [17]:
course = course.drop(['Unnamed: 0'], axis=1)
term = term.drop(['Unnamed: 0'], axis=1)
demo = demo.drop(['Unnamed: 0'], axis=1)

In [18]:
course.columns

Index(['SubjectID', 'Year Term ID', 'Ps1 Timestat Code', 'Ps1 Ofcl Stat Flag',
       'Ps1 Major1 Code', 'Ps1 Major2 Code', 'Ps2 Ofcl Stat Flag',
       'Ps2 Major1 Code', 'Ps2 Major2 Code', 'Ps1 Class Code', 'CRN',
       'College Code', 'Subject Code', 'Course No', 'Course Discipline Code',
       'Parent CRN', 'Parent College Code', 'Parent Subject Code',
       'Parent Course No', 'Parent Discipline Code', 'Credit Hrs',
       'Repeated Flag', 'Reg Status Desc', 'Grade', 'Grade Value',
       'Reported Grade', 'Ps1 Enroll Status Desc', 'Ps1 Withdraw Code',
       'Ps1 Withdraw Reason', 'Dorm Area', 'Ps1 Acad Standing Desc'],
      dtype='object')

In [19]:
semester_majors = course.groupby(['SubjectID','Year Term ID']).tail(1)[['SubjectID', 'Year Term ID', 'Ps1 Timestat Code', 'Ps1 Ofcl Stat Flag',
       'Ps1 Major1 Code', 'Ps1 Major2 Code', 'Ps2 Ofcl Stat Flag',
       'Ps2 Major1 Code', 'Ps2 Major2 Code', 'Ps1 Class Code']]
#grouping the subject based on ID and the semester to ignore the multiple the courses,taking only one row since all rows have the same info on majors,
#only look at the majors attributes.

In [20]:
semester_majors

,SubjectID,Year Term ID,Ps1 Timestat Code,Ps1 Ofcl Stat Flag,Ps1 Major1 Code,Ps1 Major2 Code,Ps2 Ofcl Stat Flag,Ps2 Major1 Code,Ps2 Major2 Code,Ps1 Class Code
0,172789163,20062.0,X,Y,PSY,.,NaN,NaN,NaN,2004
2,172846340,20102.0,P,Y,PSC,.,NaN,NaN,NaN,2010
3,172857770,20162.0,F,Y,ENG,.,NaN,NaN,NaN,2016
7,172877093,19871.0,F,N,UNC,.,NaN,NaN,NaN,1988
11,172877093,19872.0,F,N,UNC,.,NaN,NaN,NaN,1988
...,...,...,...,...,...,...,...,...,...,...
949086,255137993,20182.0,F,Y,ME,.,NaN,NaN,NaN,2019
949091,255137993,20191.0,F,Y,ME,.,NaN,NaN,NaN,2019
949099,255137993,20192.0,F,Y,ME,.,NaN,NaN,NaN,2019
949103,255461372,20152.0,F,Y,PHY,.,NaN,NaN,NaN,2016
949107,255461372,20161.0,F,Y,PHY,.,NaN,NaN,NaN,2016

In [21]:
number_diff_majors_throughout_college = semester_majors.groupby('SubjectID').nunique()[['Ps1 Major1 Code','Ps1 Major2 Code','Ps2 Major1 Code','Ps2 Major2 Code']]

In [22]:
number_diff_majors_throughout_college

           Ps1 Major1 Code  Ps1 Major2 Code  Ps2 Major1 Code  Ps2 Major2 Code
SubjectID
172789163                1                1                0                0
172846340                1                1                0                0
172857770                1                1                0                0
172877093                2                1                0                0
174316184                1                1                0                0
...                    ...              ...              ...              ...
252634292                2                1                0                0
254575592                3                1                1                1
254613473                1                1                0                0
255137993                1                1                0                0
255461372                1                1                0                0

[20879 rows x 4 columns]

#### these are subjects that have changed their majors at least once through their college life

In [23]:
changed_majors_atleast_once = number_diff_majors_throughout_college[ (number_diff_majors_throughout_college['Ps1 Major1 Code']>1) | (number_diff_majors_throughout_college['Ps1 Major2 Code']>1) | (number_diff_majors_throughout_college['Ps2 Major1 Code']>1)| (number_diff_majors_throughout_college['Ps2 Major2 Code']>1)]

In [24]:
changed_majors_atleast_once

#this is the majors changing throughout college life for each person

           Ps1 Major1 Code  Ps1 Major2 Code  Ps2 Major1 Code  Ps2 Major2 Code
SubjectID
172877093                2                1                0                0
175397669                3                1                0                0
175693463                2                1                0                0
176716079                3                1                0                0
178544321                4                1                0                0
...                    ...              ...              ...              ...
252478736                3                1                0                0
252573515                2                1                0                0
252599210                2                1                0                0
252634292                2                1                0                0
254575592                3                1                1                1

[13199 rows x 4 columns]

In [25]:
student_changed_majors = changed_majors_atleast_once.index

In [26]:
#separating number of changing majors

In [27]:
changed_majors_once = number_diff_majors_throughout_college[ (number_diff_majors_throughout_college['Ps1 Major1 Code']==2) | (number_diff_majors_throughout_college['Ps1 Major2 Code']==2) | (number_diff_majors_throughout_college['Ps2 Major1 Code']==2)| (number_diff_majors_throughout_college['Ps2 Major2 Code']==2)]

In [28]:
changed_majors_twice = number_diff_majors_throughout_college[ (number_diff_majors_throughout_college['Ps1 Major1 Code']==3) | (number_diff_majors_throughout_college['Ps1 Major2 Code']==3) | (number_diff_majors_throughout_college['Ps2 Major1 Code']==3)| (number_diff_majors_throughout_college['Ps2 Major2 Code']==3)]

In [29]:
changed_majors_three = number_diff_majors_throughout_college[ (number_diff_majors_throughout_college['Ps1 Major1 Code']==4) | (number_diff_majors_throughout_college['Ps1 Major2 Code']==4) | (number_diff_majors_throughout_college['Ps2 Major1 Code']==4)| (number_diff_majors_throughout_college['Ps2 Major2 Code']==4)]

In [119]:
changed_majors_once.to_csv('students changed majors once.csv')

In [120]:
changed_majors_twice.to_csv('students changed majors twice.csv')

In [121]:
changed_majors_three.to_csv('students changed majors three times.csv')

In [33]:
student_changed_majors_once = changed_majors_once.index

In [34]:
student_changed_majors_twice = changed_majors_twice.index

In [35]:
student_changed_majors_three = changed_majors_three.index

In [36]:
#GETTING THE NUMBER OF MINOR OF EACH ROW when they graduate

In [37]:
num_minor =[]
for ind in demo.index:
    minor = 0;
    if not(pd.isnull(demo.loc[ind, 'Degree Minor1 Code']) or demo['Degree Minor1 Code'][ind]=="."):
        minor = minor +1
    if not (pd.isnull(demo.loc[ind, 'Degree Minor2 Code']) or demo['Degree Minor2 Code'][ind]=="."):
        minor = minor +1
    if not (pd.isnull(demo.loc[ind,'Degree Minor3 Code']) or demo['Degree Minor3 Code'][ind]=="."):
        minor = minor +1
    
    num_minor.append(minor)

demo['Num of Minors'] = num_minor

In [38]:
#GETTING THE NUMBER OF MAJOR OF EACH ROW

In [39]:
num_major =[]
for ind in demo.index:
    major = 0;
    if not(pd.isnull(demo.loc[ind, 'Degree Major1 Code']) or demo['Degree Major1 Code'][ind]=="."):
        major = major +1
    if not (pd.isnull(demo.loc[ind, 'Degree Major2 Code']) or demo['Degree Major2 Code'][ind]=="."):
        major = major +1

    
    num_major.append(major)

demo['Num of Majors'] = num_major

In [40]:
demo.head(5)

,SubjectID,Gender,Visa Code,Visa Desc,Citizen Type,Citizen Country Code,Citizen Country Name,First Generation Flag,2010 IPEDS Ethnicity Description,2010 Ethnicity Short Desc,Veteran Status Desc,Birthdate,HS City,HS State Prov,HS Postal Code,HS Country,HS Rank,HS Size,HS Graduation Date,SAT Verbal,SAT Math,SAT Writing,SAT Total,ACT English,ACT Math,ACT Soc Science,ACT Nat Science,ACT Composite,B - Type Desc,B - Class Year,B - Time Status Code,B - Degree Code,B - Major1 Code,B - Major2 Code,B - Response Code,B - Response Desc,B - Response Date,B - Action Code,B - Action Desc,B - Action Date,B - Transfer College Code,B - Transfer College Name,B - Transfer GPA,B - Graduated College Name,Und Cohort First YT,Transfer Year Term,Cohort Major1 Disc Code,Cohort Major1 Dept Code,Cohort Major1 Code,Cohort Major2 Disc Code,Cohort Major2 Dept Code,Cohort Major2 Code,Degree Code,Degree Class Year,Degree Major1 Discipline Code,Degree Major1 Dept Code,Degree Major1 Code,Degree Major2 Discipline Code,Degree Major2 Dept Code,Degree Major2 Code,Degree Minor1 Code,Degree Minor2 Code,Degree Minor3 Code,Clust1 Code,Clust1 Dept Code,Clust2 Code,Clust2 Dept Code,Degree Honors Code,Degree Award Date,Degree Confer Date,Num of Minors,Num of Majors
0,175693463,F,.,.,US CITIZEN,1NY,USA,N,White,WHITE - NO ETHNICITY REPORTED,NaN,1979-03-17,East Rochester,NY,14445,1,0,0,NaN,640.0,570.0,NaN,1210.0,31.0,24.0,32.0,27.0,29.0,TRANSFER,2000,F,BA,PSY,NaN,A,ACCEPT OFFER OF ADMISSION,1997-01-13,2,ADMIT,1997-01-10,2540.0,SUNY GENESEO,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,1999,NATS,BCSC,BCS,.,.,.,PC,.,.,H1PHL003,PHIL,NaN,NaN,.,1999-12-31,2001-10-12,1,1
1,179236322,M,.,.,US CITIZEN,1MA,USA,N,White,WHITE - NO ETHNICITY REPORTED,NaN,1971-04-13,Lexington,MA,2421,1,0,0,NaN,680.0,800.0,NaN,1480.0,NaN,NaN,NaN,NaN,NaN,READMIT,2000,F,BA,BIO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2956.0,VASSAR COLLEGE,3.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,1994,NATS,BIOL,BIO,.,.,.,.,.,.,NaN,NaN,NaN,NaN,.,1994-05-22,NaN,0,1
2,181015370,M,.,.,US CITIZEN,1NY,USA,N,White,WHITE - NO ETHNICITY REPORTED,NaN,1972-11-11,Rochester,NY,14606,1,73,179,NaN,520.0,610.0,NaN,1130.0,18.0,21.0,21.0,21.0,20.0,READMIT,2000,P,BA,PSC,NaN,NaN,NaN,NaN,2,ADMIT,2000-01-07,2429.0,MONROE CMTY COLLEGE,2.73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2010,SOCS,PSCI,PSC,.,.,.,.,.,.,NaN,NaN,NaN,NaN,.,2010-12-31,2011-03-10,0,1
3,183070133,M,IM,IMMIGRANT PERMANENT RESIDENT,PERM RES,3GY,GUYANA,N,Unknown,NO RACE REPORTED - NO ETHNICITY REPORTED,NaN,1973-08-13,Brooklyn,NY,11203,1,6,373,NaN,400.0,430.0,NaN,830.0,NaN,NaN,NaN,NaN,NaN,READMIT,2000,P,BA,CSM,NaN,N,ACCEPT WITH WAIVED DEPOSIT,2000-01-14,2,ADMIT,1999-12-21,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2000,ENGN,CSCI,CSM,.,.,.,.,.,.,NaN,NaN,NaN,NaN,.,1996-05-26,1996-05-26,0,1
4,183070133,M,IM,IMMIGRANT PERMANENT RESIDENT,PERM RES,3GY,GUYANA,N,Unknown,NO RACE REPORTED - NO ETHNICITY REPORTED,NaN,1973-08-13,Brooklyn,NY,11203,1,6,373,NaN,400.0,430.0,NaN,830.0,NaN,NaN,NaN,NaN,NaN,READMIT,2000,P,BA,CSM,NaN,N,ACCEPT WITH WAIVED DEPOSIT,2000-01-14,2,ADMIT,1999-12-21,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2000,ENGN,CSCI,CSM,.,.,.,.,.,.,NaN,NaN,NaN,NaN,.,1998-05-17,NaN,0,1

In [41]:
morethanoneconfer = (demo.groupby(['SubjectID'])['Degree Confer Date'].count() > 1).to_frame()

In [42]:
morethanoneconfer

           Degree Confer Date
SubjectID
172789163               False
172846340               False
172857770               False
173973086               False
174285431               False
...                       ...
252634292               False
254575592                True
254613473               False
255137993               False
255461372               False

[21921 rows x 1 columns]

In [43]:
IDs_multiple_confer = morethanoneconfer[morethanoneconfer['Degree Confer Date']==True].index

In [44]:
df_multiple_confer = demo[demo['SubjectID'].isin(IDs_multiple_confer)].sort_values(by=['SubjectID']).drop_duplicates().head(50)

#so many columns with the same info, degree info but

In [45]:
df_multiple_confer.sort_values(by=['SubjectID'])

,SubjectID,Gender,Visa Code,Visa Desc,Citizen Type,Citizen Country Code,Citizen Country Name,First Generation Flag,2010 IPEDS Ethnicity Description,2010 Ethnicity Short Desc,Veteran Status Desc,Birthdate,HS City,HS State Prov,HS Postal Code,HS Country,HS Rank,HS Size,HS Graduation Date,SAT Verbal,SAT Math,SAT Writing,SAT Total,ACT English,ACT Math,ACT Soc Science,ACT Nat Science,ACT Composite,B - Type Desc,B - Class Year,B - Time Status Code,B - Degree Code,B - Major1 Code,B - Major2 Code,B - Response Code,B - Response Desc,B - Response Date,B - Action Code,B - Action Desc,B - Action Date,B - Transfer College Code,B - Transfer College Name,B - Transfer GPA,B - Graduated College Name,Und Cohort First YT,Transfer Year Term,Cohort Major1 Disc Code,Cohort Major1 Dept Code,Cohort Major1 Code,Cohort Major2 Disc Code,Cohort Major2 Dept Code,Cohort Major2 Code,Degree Code,Degree Class Year,Degree Major1 Discipline Code,Degree Major1 Dept Code,Degree Major1 Code,Degree Major2 Discipline Code,Degree Major2 Dept Code,Degree Major2 Code,Degree Minor1 Code,Degree Minor2 Code,Degree Minor3 Code,Clust1 Code,Clust1 Dept Code,Clust2 Code,Clust2 Dept Code,Degree Honors Code,Degree Award Date,Degree Confer Date,Num of Minors,Num of Majors
2,181015370,M,.,.,US CITIZEN,1NY,USA,N,White,WHITE - NO ETHNICITY REPORTED,NaN,1972-11-11,Rochester,NY,14606,1,73,179,NaN,520.0,610.0,NaN,1130.0,18.0,21.0,21.0,21.0,20.0,READMIT,2000,P,BA,PSC,NaN,NaN,NaN,NaN,2,ADMIT,2000-01-07,2429.0,MONROE CMTY COLLEGE,2.73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2010,SOCS,PSCI,PSC,.,.,.,.,.,.,NaN,NaN,NaN,NaN,.,2010-12-31,2011-03-10,0,1
10735,181015370,M,.,.,US CITIZEN,1NY,USA,N,White,WHITE - NO ETHNICITY REPORTED,NaN,1972-11-11,Rochester,NY,14606,1,73,179,NaN,520.0,610.0,NaN,1130.0,18.0,21.0,21.0,21.0,20.0,READMIT,2008,P,BA,PSC,NaN,NaN,NaN,NaN,2,ADMIT,2007-08-23,2429.0,MONROE CMTY COLLEGE,2.73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2010,SOCS,PSCI,PSC,.,.,.,.,.,.,NaN,NaN,NaN,NaN,.,2010-12-31,2011-03-10,0,1
2511,181500533,F,.,.,US CITIZEN,1NY,USA,N,White,WHITE - NO ETHNICITY REPORTED,NaN,1973-09-23,Avon,NY,14414,1,7,65,NaN,610.0,590.0,NaN,1200.0,24.0,27.0,26.0,20.0,24.0,READMIT,2002,F,BA,PSC,NaN,A,ACCEPT OFFER OF ADMISSION,1999-07-28,NaN,NaN,NaN,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,1999,SOCS,PSCI,PSC,.,.,.,EL,.,.,NaN,NaN,NaN,NaN,.,2002-08-31,2003-03-07,1,1
1340,181500533,F,.,.,US CITIZEN,1NY,USA,N,White,WHITE - NO ETHNICITY REPORTED,NaN,1973-09-23,Avon,NY,14414,1,7,65,NaN,610.0,590.0,NaN,1200.0,24.0,27.0,26.0,20.0,24.0,READMIT,2001,F,BA,PSC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,1999,SOCS,PSCI,PSC,.,.,.,EL,.,.,NaN,NaN,NaN,NaN,.,2002-08-31,2003-03-07,1,1
3,183070133,M,IM,IMMIGRANT PERMANENT RESIDENT,PERM RES,3GY,GUYANA,N,Unknown,NO RACE REPORTED - NO ETHNICITY REPORTED,NaN,1973-08-13,Brooklyn,NY,11203,1,6,373,NaN,400.0,430.0,NaN,830.0,NaN,NaN,NaN,NaN,NaN,READMIT,2000,P,BA,CSM,NaN,N,ACCEPT WITH WAIVED DEPOSIT,2000-01-14,2,ADMIT,1999-12-21,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2000,ENGN,CSCI,CSM,.,.,.,.,.,.,NaN,NaN,NaN,NaN,.,1996-05-26,1996-05-26,0,1
5,183070133,M,IM,IMMIGRANT PERMANENT RESIDENT,PERM RES,3GY,GUYANA,N,Unknown,NO RACE REPORTED - NO ETHNICITY REPORTED,NaN,1973-08-13,Brooklyn,NY,11203,1,6,373,NaN,400.0,430.0,NaN,830.0,NaN,NaN,NaN,NaN,NaN,READMIT,2000,P,BA,CSM,NaN,N,ACCEPT WITH WAIVED DEPOSIT,2000-01-14,2,ADMIT,1999-12-21,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2000,ENGN,CSCI,CSM,.,.,.,.,.,.,NaN,NaN,NaN,NaN,.,2000-05-14,2000-05-14,0,1
4,183070133,M,IM,IMMIGRANT PERMANENT RESIDENT,PERM RES,3GY,GUYANA,N,Unknown,NO RACE REPORTED - NO ETHNICITY REPORTED,NaN,1973-08-13,Brooklyn,NY,11203,1,6,373,NaN,400.0,430.0,NaN,830.0,NaN,NaN,NaN,NaN,NaN,READMIT,2000,P,BA,CSM,NaN,N,ACCEPT WITH WAIVED DEPOSIT,2000-01-14,2,ADMIT,1999-12-21,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2000,ENGN,CSCI,CSM,.,.,.,.,.,.,NaN,NaN,NaN,NaN,.,1998-05-17,NaN,0,1
8,183960116,F,.,.,US CITIZEN,1ID,USA,N,White,WHITE,NaN,1974-12-06,Hazelton,ID,83335,1,1,42,NaN,NaN,NaN,NaN,NaN,20.0,18.0,23.0,21.0,21.0,READMIT,2000,P,BA,RLS,NaN,A,ACCEPT OFFER OF ADMISSION,1999-12-03,2,ADMIT,1999-11-03,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2000,HUMS,RCLA,RLS,.,.,.,.,.,.,N1TR001,OTHR,S1TR001,OTHR,.,2000-05-14,2000-10-12,0,1
9,183960116,F,.,.,US CITIZEN,1ID,USA,N,White,WHITE,NaN,1974-12-06,Hazelton,ID,83335,1,1,42,NaN,NaN,NaN,NaN,NaN,20.0,18.0,23.0,21.0,21.0,READMIT,2000,P,BA,RLS,NaN,A,ACCEPT OFFER OF ADMISSION,1999-12-03,2,ADMIT,1999-11-03,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BS,1998,.,.,NUR,.,.,.,.,.,.,N1TR001,OTHR,S1TR001,OTHR,MC,1998-05-17,1998-05-17,0,1
2514,184465475,M,.,.,US CITIZEN,1CT,USA,N,White,WHITE - NO ETHNICITY REPORTED,NaN,1975-04-07,Greenwich,CT,6830,1,0,0,NaN,740.0,760.0,NaN,1500.0,NaN,NaN,NaN,NaN,NaN,READMIT,2002,F,BA,BCS,NaN,N,ACCEPT WITH WAIVED DEPOSIT,1999-01-13,2,ADMIT,1999-01-04,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2000,NATS,BCSC,BCS,.,.,.,.,.,.,NaN,NaN,NaN,NaN,.,2004-12-31,2005-03-04,0,1
2515,184465475,M,.,.,US CITIZEN,1CT,USA,N,White,WHITE - NO ETHNICITY REPORTED,NaN,1975-04-07,Greenwich,CT,6830,1,0,0,NaN,740.0,760.0,NaN,1500.0,NaN,NaN,NaN,NaN,NaN,READMIT,2002,F,BA,BCS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2000,NATS,BCSC,BCS,.,.,.,.,.,.,NaN,NaN,NaN,NaN,.,2004-12-31,2005-03-04,0,1
6744,184578812,F,F1,ACADEMIC STUDENT,NON US CITIZEN,3EP,EGYPT,N,NRA,NO RACE REPORTED - NO ETHNICITY REPORTED,NaN,1975-04-10,APO,AE,9839,1,0,0,NaN,670.0,550.0,NaN,1220.0,NaN,NaN,NaN,NaN,NaN,READMIT,2005,F,BA,PHL,NaN,A,ACCEPT OFFER OF ADMISSION,2004-04-06,2,ADMIT,2004-04-06,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2007,HUMS,PHIL,PHL,.,.,.,.,.,.,NaN,NaN,NaN,NaN,.,2007-12-31,2008-03-13,0,1
6746,184578812,F,F1,ACADEMIC STUDENT,NON US CITIZEN,3EP,EGYPT,N,NRA,NO RACE REPORTED - NO ETHNICITY REPORTED,NaN,1975-04-10,APO,AE,9839,1,0,0,NaN,670.0,550.0,NaN,1220.0,NaN,NaN,NaN,NaN,NaN,READMIT,2005,F,BA,PHL,NaN,R,ACCEPT BUT DEFER ENROLLMENT FOR A TERM/YEAR,2004-01-16,2,ADMIT,2003-12-31,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2007,HUMS,PHIL,PHL,.,.,.,.,.,.,NaN,NaN,NaN,NaN,.,2007-12-31,2008-03-13,0,1
6743,184578812,F,F1,ACADEMIC STUDENT,NON US CITIZEN,3EP,EGYPT,N,NRA,NO RACE REPORTED - NO ETHNICITY REPORTED,NaN,1975-04-10,APO,AE,9839,1,0,0,NaN,670.0,550.0,NaN,1220.0,NaN,NaN,NaN,NaN,NaN,READMIT,2005,F,BA,PHL,NaN,A,ACCEPT OFFER OF ADMISSION,2004-04-06,2,ADMIT,2004-04-06,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2007,HUMS,PHIL,PHL,.,.,.,.,.,.,NaN,NaN,NaN,NaN,.,1998-05-17,NaN,0,1
6745,184578812,F,F1,ACADEMIC STUDENT,NON US CITIZEN,3EP,EGYPT,N,NRA,NO RACE REPORTED - NO ETHNICITY REPORTED,NaN,1975-04-10,APO,AE,9839,1,0,0,NaN,670.0,550.0,NaN,1220.0,NaN,NaN,NaN,NaN,NaN,READMIT,2005,F,BA,PHL,NaN,R,ACCEPT BUT DEFER ENROLLMENT FOR A TERM/YEAR,2004-01-16,2,ADMIT,2003-12-31,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2007,HUMS,PHIL,PHL,.,.,.,.,.,.,NaN,NaN,NaN,NaN,.,1998-05-17,NaN,0,1
2516,184584500,M,.,.,US CITIZEN,1NY,USA,N,White,WHITE - NO ETHNICITY REPORTED,NaN,1976-05-16,Bronx,NY,10463,1,65,573,NaN,580.0,570.0,NaN,1150.0,NaN,NaN,NaN,NaN,NaN,READMIT,2002,P,BA,PSC,NaN,NaN,NaN,NaN,2,ADMIT,2001-09-24,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2007,SOCS,PSCI,PSC,.,.,.,.,.,.,H1TR001,OTHR,N1TR001,OTHR,.,2007-05-20,2007-05-20,0,1
6747,184584500,M,.,.,US CITIZEN,1NY,USA,N,White,WHITE - NO ETHNICITY REPORTED,NaN,1976-05-16,Bronx,NY,10463,1,65,573,NaN,580.0,570.0,NaN,1150.0,NaN,NaN,NaN,NaN,NaN,READMIT,2005,P,BA,PSC,NaN,NaN,NaN,NaN,2,ADMIT,2004-08-21,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2007,SOCS,PSCI,PSC,.,.,.,.,.,.,H1TR001,OTHR,N1TR001,OTHR,.,2007-05-20,2007-05-20,0,1
2517,184617278,M,.,.,US CITIZEN,1NY,USA,N,White,WHITE - NO ETHNICITY REPORTED,NaN,1975-08-31,New York,NY,10024,1,0,0,NaN,530.0,600.0,NaN,1130.0,NaN,NaN,NaN,NaN,NaN,READMIT,2002,F,BA,FS,NaN,N,ACCEPT WITH WAIVED DEPOSIT,1999-02-05,2,ADMIT,1999-01-22,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2001,HUMS,FILM,FMS,.,.,.,.,.,.,S1TR001,OTHR,N1TR001,OTHR,.,2001-05-20,2001-05-20,0,1
1344,184617278,M,.,.,US CITIZEN,1NY,USA,N,White,WHITE - NO ETHNICITY REPORTED,NaN,1975-08-31,New York,NY,10024,1,0,0,NaN,530.0,600.0,NaN,1130.0,NaN,NaN,NaN,NaN,NaN,READMIT,2001,P,BA,ECO,NaN,A,ACCEPT OFFER OF ADMISSION,2000-10-18,2,ADMIT,2000-10-10,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2001,HUMS,FILM,FMS,.,.,.,.,.,.,S1TR001,OTHR,N1TR001,OTHR,.,2001-05-20,2001-05-20,0,1
2518,184709645,M,.,.,US CITIZEN,1NY,USA,N,Asian,ASIAN - NO ETHNICITY REPORTED,NaN,1974-09-16,Irvington,NY,105331328,1,0,0,NaN,740.0,680.0,NaN,1420.0,NaN,NaN,NaN,NaN,NaN,READMIT,2002,F,BA,PSC,NaN,A,ACCEPT OFFER OF ADMISSION,2002-01-25,NaN,NaN,NaN,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2002,SOCS,PSCI,PSC,.,.,.,LS,.,.,H1TR001,OTHR,N1TR001,OTHR,.,2002-08-31,2002-10-11,1,1
2519,184709645,M,.,.,US CITIZEN,1NY,USA,N,Asian,ASIAN - NO ETHNICITY REPORTED,NaN,1974-09-16,Irvington,NY,105331328,1,0,0,NaN,740.0,680.0,NaN,1420.0,NaN,NaN,NaN,NaN,NaN,READMIT,2002,F,BA,PSC,NaN,R,ACCEPT BUT DEFER ENROLLMENT FOR A TERM/YEAR,2001-09-19,2,ADMIT,2001-09-13,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2002,SOCS,PSCI,PSC,.,.,.,LS,.,.,H1TR001,OTHR,N1TR001,OTHR,.,2002-08-31,2002-10-11,1,1
3871,185303258,M,.,.,US CITIZEN,1NY,USA,N,White,WHITE - NO ETHNICITY REPORTED,NaN,1976-09-11,Honeoye Falls,NY,14472,1,1,125,NaN,620.0,800.0,NaN,1420.0,NaN,NaN,NaN,NaN,NaN,READMIT,2003,F,BS,CSC,NaN,A,ACCEPT OFFER OF ADMISSION,1999-07-07,2,ADMIT,1999-04-19,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,1998,NATS,PHYS,PHY,.,.,.,PH,.,.,NaN,NaN,S1TR001,OTHR,.,1998-05-17,1998-05-17,1,1
3872,185303258,M,.,.,US CITIZEN,1NY,USA,N,White,WHITE - NO ETHNICITY REPORTED,NaN,1976-09-11,Honeoye Falls,NY,14472,1,1,125,NaN,620.0,800.0,NaN,1420.0,NaN,NaN,NaN,NaN,NaN,READMIT,2003,F,BS,CSC,NaN,A,ACCEPT OFFER OF ADMISSION,1999-07-07,2,ADMIT,1999-04-19,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BS,2001,ENGN,CSCI,CSC,.,.,.,.,.,.,NaN,NaN,S1TR001,OTHR,.,2001-05-20,2001-05-20,0,1
18,185530616,M,.,.,US CITIZEN,1NY,USA,N,Black,BLACK - NO ETHNICITY REPORTED,NaN,1971-06-06,Henrietta,NY,14467,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TRANSFER,2000,P,BA,BIO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2002,HUMS,RCLA,RLS,.,.,.,.,.,.,S1ANT007,ANTH,N1BIO002,BIOL,.,2002-05-19,2002-05-19,0,1
17,185530616,M,.,.,US CITIZEN,1NY,USA,N,Black,BLACK - NO ETHNICITY REPORTED,NaN,1971-06-06,Henrietta,NY,14467,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,READMIT,2000,F,BA,BIO,NaN,N,ACCEPT WITH WAIVED DEPOSIT,1998-12-07,2,ADMIT,1998-11-13,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2002,HUMS,RCLA,RLS,.,.,.,.,.,.,S1ANT007,ANTH,N1BIO002,BIOL,.,2002-05-19,2002-05-19,0,1
19766,185852240,M,.,.,US CITIZEN,1PA,USA,N,White,WHITE - NO ETHNICITY REPORTED,NaN,1976-01-27,Wynnewood,PA,19096,1,0,0,NaN,650.0,630.0,NaN,1280.0,NaN,NaN,NaN,NaN,NaN,READMIT,2014,P,BA,HIS,NaN,A,ACCEPT OFFER OF ADMISSION,2013-06-14,2,ADMIT,2013-06-14,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2014,SOCS,HIST,HIS,.,.,.,.,.,.,H1TR001,OTHR,N1TR001,OTHR,.,2014-05-18,2014-05-18,0,1
6748,185852240,M,.,.,US CITIZEN,1PA,USA,N,White,WHITE - NO ETHNICITY REPORTED,NaN,1976-01-27,Wynnewood,PA,19096,1,0,0,NaN,650.0,630.0,NaN,1280.0,NaN,NaN,NaN,NaN,NaN,READMIT,2005,P,BA,HIS,NaN,A,ACCEPT OFFER OF ADMISSION,2004-07-19,2,ADMIT,2004-07-19,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2014,SOCS,HIST,HIS,.,.,.,.,.,.,H1TR001,OTHR,N1TR001,OTHR,.,2014-05-18,2014-05-18,0,1
20,185891723,M,F1,ACADEMIC STUDENT,NON US CITIZEN,3MC,MACAU,N,NRA,NO RACE REPORTED - NO ETHNICITY REPORTED,NaN,1978-01-26,Exeter,NH,3833,1,0,0,NaN,790.0,800.0,NaN,1590.0,NaN,NaN,NaN,NaN,NaN,FRESHMAN,2000,F,BA,UNC,NaN,A,ACCEPT OFFER OF ADMISSION,1996-04-29,2,ADMIT,1996-02-28,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2000,SOCS,ECON,ECO,.,.,.,.,.,.,H1MUR008,MUSI,NaN,NaN,CL,2000-05-14,2000-05-14,0,1
21,185891723,M,F1,ACADEMIC STUDENT,NON US CITIZEN,3MC,MACAU,N,NRA,NO RACE REPORTED - NO ETHNICITY REPORTED,NaN,1978-01-26,Exeter,NH,3833,1,0,0,NaN,790.0,800.0,NaN,1590.0,NaN,NaN,NaN,NaN,NaN,FRESHMAN,2000,F,BA,UNC,NaN,A,ACCEPT OFFER OF ADMISSION,1996-04-29,2,ADMIT,1996-02-28,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BS,2000,ENGN,ECEN,EE,.,.,.,.,.,.,H1MUR008,MUSI,NaN,NaN,.,2000-05-14,2000-05-14,0,1
3874,186014555,M,.,.,US CITIZEN,1NY,USA,N,Black,BLACK - NO ETHNICITY REPORTED,NaN,1976-11-15,New York,NY,10029,1,41,277,NaN,580.0,610.0,NaN,1190.0,NaN,NaN,NaN,NaN,NaN,READMIT,2003,F,BA,MTH,NaN,N,ACCEPT WITH WAIVED DEPOSIT,1999-12-07,2,ADMIT,1999-11-16,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2000,OTHR,INTD,IPA,.,.,.,.,.,.,H1TR001,OTHR,S1TR001,OTHR,.,2000-08-31,2001-05-20,0,1
3873,186014555,M,.,.,US CITIZEN,1NY,USA,N,Black,BLACK - NO ETHNICITY REPORTED,NaN,1976-11-15,New York,NY,10029,1,41,277,NaN,580.0,610.0,NaN,1190.0,NaN,NaN,NaN,NaN,NaN,READMIT,2003,F,BA,MTH,NaN,N,ACCEPT WITH WAIVED DEPOSIT,1999-12-07,2,ADMIT,1999-11-16,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2000,OTHR,INTD,IPA,.,.,.,.,.,.,H1TR001,OTHR,S1TR001,OTHR,.,2000-05-14,NaN,0,1
28,186014555,M,.,.,US CITIZEN,1NY,USA,N,Black,BLACK - NO ETHNICITY REPORTED,NaN,1976-11-15,New York,NY,10029,1,41,277,NaN,580.0,610.0,NaN,1190.0,NaN,NaN,NaN,NaN,NaN,READMIT,2000,F,BA,MTH,NaN,N,ACCEPT WITH WAIVED DEPOSIT,1998-01-14,2,ADMIT,1998-01-12,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2000,OTHR,INTD,IPA,.,.,.,.,.,.,H1TR001,OTHR,S1TR001,OTHR,.,2000-08-31,2001-05-20,0,1
27,186014555,M,.,.,US CITIZEN,1NY,USA,N,Black,BLACK - NO ETHNICITY REPORTED,NaN,1976-11-15,New York,NY,10029,1,41,277,NaN,580.0,610.0,NaN,1190.0,NaN,NaN,NaN,NaN,NaN,READMIT,2000,F,BA,MTH,NaN,N,ACCEPT WITH WAIVED DEPOSIT,1998-01-14,2,ADMIT,1998-01-12,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2000,OTHR,INTD,IPA,.,.,.,.,.,.,H1TR001,OTHR,S1TR001,OTHR,.,2000-05-14,NaN,0,1
32,186113735,M,.,.,US CITIZEN,1NY,USA,N,Hispanic,NO RACE REPORTED AND HISPANIC,NaN,1976-02-12,Rochester,NY,14611,1,19,158,NaN,550.0,650.0,NaN,1200.0,NaN,NaN,NaN,NaN,NaN,READMIT,2000,F,BA,PSC,NaN,N,ACCEPT WITH WAIVED DEPOSIT,1997-08-27,NaN,NaN,NaN,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2000,SOCS,PSCI,PSC,HUMS,PHIL,PHL,.,.,.,N1BIO001,BIOL,NaN,NaN,.,2000-12-31,2001-03-01,0,2
31,186113735,M,.,.,US CITIZEN,1NY,USA,N,Hispanic,NO RACE REPORTED AND HISPANIC,NaN,1976-02-12,Rochester,NY,14611,1,19,158,NaN,550.0,650.0,NaN,1200.0,NaN,NaN,NaN,NaN,NaN,READMIT,2000,F,BA,PSC,NaN,N,ACCEPT WITH WAIVED DEPOSIT,1997-08-27,NaN,NaN,NaN,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2000,SOCS,PSCI,PSC,.,.,.,.,.,.,N1BIO001,BIOL,NaN,NaN,.,2000-05-14,NaN,0,1
2524,186113735,M,.,.,US CITIZEN,1NY,USA,N,Hispanic,NO RACE REPORTED AND HISPANIC,NaN,1976-02-12,Rochester,NY,14611,1,19,158,NaN,550.0,650.0,NaN,1200.0,NaN,NaN,NaN,NaN,NaN,READMIT,2002,F,BA,PSC,NaN,N,ACCEPT WITH WAIVED DEPOSIT,1998-08-10,2,ADMIT,1998-07-29,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2000,SOCS,PSCI,PSC,.,.,.,.,.,.,N1BIO001,BIOL,NaN,NaN,.,2000-05-14,NaN,0,1
2525,186113735,M,.,.,US CITIZEN,1NY,USA,N,Hispanic,NO RACE REPORTED AND HISPANIC,NaN,1976-02-12,Rochester,NY,14611,1,19,158,NaN,550.0,650.0,NaN,1200.0,NaN,NaN,NaN,NaN,NaN,READMIT,2002,F,BA,PSC,NaN,N,ACCEPT WITH WAIVED DEPOSIT,1998-08-10,2,ADMIT,1998-07-29,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2000,SOCS,PSCI,PSC,HUMS,PHIL,PHL,.,.,.,N1BIO001,BIOL,NaN,NaN,.,2000-12-31,2001-03-01,0,2
1356,186437780,M,.,.,US CITIZEN,1NY,USA,N,White,WHITE - NO ETHNICITY REPORTED,NaN,1978-08-15,Rochester,NY,14618,1,0,0,NaN,680.0,780.0,NaN,1460.0,NaN,NaN,NaN,NaN,NaN,FRESHMAN,2001,F,BS,BMB,NaN,A,ACCEPT OFFER OF ADMISSION,1997-03-31,2,ADMIT,1997-01-22,NaN,NaN,3.63,NaN,19981.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2001,NATS,MATH,MTH,.,.,.,.,.,.,H1PHL001,PHIL,S1HLS001,HLSO,CL,2001-05-20,2001-05-20,0,1
1357,186437780,M,.,.,US CITIZEN,1NY,USA,N,White,WHITE - NO ETHNICITY REPORTED,NaN,1978-08-15,Rochester,NY,14618,1,0,0,NaN,680.0,780.0,NaN,1460.0,NaN,NaN,NaN,NaN,NaN,FRESHMAN,2001,F,BS,BMB,NaN,A,ACCEPT OFFER OF ADMISSION,1997-03-31,2,ADMIT,1997-01-22,NaN,NaN,3.63,NaN,19981.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BS,2001,NATS,BIOL,BMB,.,.,.,.,.,.,H1PHL001,PHIL,S1HLS001,HLSO,CL,2001-05-20,2001-05-20,0,1
47,187034534,M,.,.,US CITIZEN,1NY,USA,N,Asian,ASIAN - NO ETHNICITY REPORTED,NaN,1977-01-15,Henrietta,NY,14467,1,1,320,NaN,720.0,680.0,NaN,1400.0,NaN,NaN,NaN,NaN,NaN,FRESHMAN,2000,F,BA,BIO,NaN,A,ACCEPT OFFER OF ADMISSION,1996-04-24,2,ADMIT,1996-04-24,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BS,2000,ENGN,MECH,ME,.,.,.,.,.,.,S1HIS008,HIST,H1TR001,OTHR,.,2000-05-14,2000-05-14,0,1
48,187034534,M,.,.,US CITIZEN,1NY,USA,N,Asian,ASIAN - NO ETHNICITY REPORTED,NaN,1977-01-15,Henrietta,NY,14467,1,1,320,NaN,720.0,680.0,NaN,1400.0,NaN,NaN,NaN,NaN,NaN,FRESHMAN,2000,F,BA,BIO,NaN,S,DEFER ENROLLMENT AFTER PREVIOUSLY ACCEPTING OF...,1996-01-17,2,ADMIT,1995-11-17,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BS,2000,ENGN,MECH,ME,.,.,.,.,.,.,S1HIS008,HIST,H1TR001,OTHR,.,2000-05-14,2000-05-14,0,1
55,187188218,F,.,.,US CITIZEN,1NY,USA,N,White,WHITE - NO ETHNICITY REPORTED,NaN,1977-04-10,Rochester,NY,14618,1,0,0,NaN,620.0,550.0,NaN,1170.0,27.0,24.0,33.0,27.0,28.0,TRANSFER,2000,F,BA,PSY,NaN,NaN,NaN,NaN,6,WITHDRAW,1997-01-02,5814.0,UNIV MARYLAND COL PK,3.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,1999,OTHR,WSTU,WS,SOCS,PSYC,PSY,.,.,.,N1TR001,OTHR,NaN,NaN,.,1999-05-16,1999-05-16,0,2
54,187188218,F,.,.,US CITIZEN,1NY,USA,N,White,WHITE - NO ETHNICITY REPORTED,NaN,1977-04-10,Rochester,NY,14618,1,0,0,NaN,620.0,550.0,NaN,1170.0,27.0,24.0,33.0,27.0,28.0,TRANSFER,2000,F,BA,PSY,NaN,A,ACCEPT OFFER OF ADMISSION,1998-05-29,2,ADMIT,1998-05-19,5814.0,UNIV MARYLAND COL PK,3.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,1999,OTHR,WSTU,WS,SOCS,PSYC,PSY,.,.,.,N1TR001,OTHR,NaN,NaN,.,1999-05-16,1999-05-16,0,2
57,187275041,M,.,.,US CITIZEN,1NY,USA,N,White,WHITE - NO ETHNICITY REPORTED,NaN,1977-06-25,Rochester,NY,14618,1,34,140,NaN,750.0,640.0,NaN,1390.0,NaN,NaN,NaN,NaN,NaN,TRANSFER,2000,F,BA,BIO,NaN,N,ACCEPT WITH WAIVED DEPOSIT,1996-07-10,2,ADMIT,1996-07-10,2798.0,ST JOHN FISHER COLL,3.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2000,NATS,BIOL,BIO,.,.,.,.,.,.,NaN,NaN,NaN,NaN,.,2000-05-14,2000-05-14,0,1
58,187275041,M,.,.,US CITIZEN,1NY,USA,N,White,WHITE - NO ETHNICITY REPORTED,NaN,1977-06-25,Rochester,NY,14618,1,34,140,NaN,750.0,640.0,NaN,1390.0,NaN,NaN,NaN,NaN,NaN,TRANSFER,2000,F,BM,AMU,NaN,A,ACCEPT OFFER OF ADMISSION,1996-05-15,2,ADMIT,1996-04-15,2798.0,ST JOHN FISHER COLL,3.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BM,2000,EAST,PERF,AMU,.,.,.,.,.,.,NaN,NaN,NaN,NaN,.,2000-05-14,2000-05-14,0,1
1364,187286777,M,.,.,US CITIZEN,1NY,USA,N,Black,BLACK,NaN,1977-01-17,Geneva,NY,14456,1,70,137,NaN,480.0,470.0,NaN,950.0,NaN,NaN,NaN,NaN,NaN,READMIT,2001,F,BA,ES,NaN,A,ACCEPT OFFER OF ADMISSION,2009-05-12,2,ADMIT,2009-05-04,2134.0,FINGER LAKES CC,2.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2010,SOCS,HIST,HIS,.,.,.,.,.,.,NaN,NaN,NaN,NaN,.,2010-08-31,2010-10-15,0,1
1363,187286777,M,.,.,US CITIZEN,1NY,USA,N,Black,BLACK,NaN,1977-01-17,Geneva,NY,14456,1,70,137,NaN,480.0,470.0,NaN,950.0,NaN,NaN,NaN,NaN,NaN,READMIT,2001,F,BA,ES,NaN,A,ACCEPT OFFER OF ADMISSION,1998-08-28,2,ADMIT,1998-07-27,2134.0,FINGER LAKES CC,2.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2010,SOCS,HIST,HIS,.,.,.,.,.,.,NaN,NaN,NaN,NaN,.,2010-08-31,2010-10-15,0,1
2531,187290557,M,.,.,US CITIZEN,1NY,USA,N,White,WHITE - NO ETHNICITY REPORTED,NaN,1977-03-27,Rochester,NY,14617,1,25,100,NaN,630.0,650.0,NaN,1280.0,NaN,NaN,NaN,NaN,NaN,READMIT,2002,F,BA,HIS,NaN,A,ACCEPT OFFER OF ADMISSION,2001-03-16,2,ADMIT,2001-03-12,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2003,SOCS,HIST,HIS,.,.,.,.,.,.,H1TR001,OTHR,N1TR001,OTHR,.,2003-05-18,2003-05-18,0,1

#### those by the time of their last semester record (demo) - number of majors and minors

In [46]:
one_major = demo[ (demo['Num of Majors'] == 1) & (demo['Num of Minors'] == 0)]
two_majors =demo[ (demo['Num of Majors'] == 2) & (demo['Num of Minors'] == 0)]
one_major_one_minor =demo[ (demo['Num of Majors'] == 1) & (demo['Num of Minors'] == 1)]
one_major_two_minors = demo[ (demo['Num of Majors'] == 1) & (demo['Num of Minors'] == 2)]
one_major_three_minors = demo[ (demo['Num of Majors'] == 1) & (demo['Num of Minors'] == 3)]
two_majors_one_minor = demo[ (demo['Num of Majors'] == 2) & (demo['Num of Minors'] == 1)]
two_majors_two_minors =demo[ (demo['Num of Majors'] == 2) & (demo['Num of Minors'] == 2)]
two_majors_three_minors = demo[ (demo['Num of Majors'] == 2) & (demo['Num of Minors'] == 3)]
no_major =demo[ (demo['Num of Majors'] == 0)]
#3000 ppl dont have a major?

#these are when they get their degree

In [47]:
no_major.shape[0] + one_major.shape[0] + two_majors.shape[0] + one_major_one_minor.shape[0] +  one_major_two_minors.shape[0] + one_major_three_minors.shape[0] +two_majors_one_minor.shape[0] +two_majors_two_minors.shape[0] +two_majors_three_minors.shape[0]

24792

In [48]:
demo.shape[0]
#number of subjectID match the dataset

24792

In [49]:
one_major_ID = one_major['SubjectID']
two_majors_ID = two_majors['SubjectID']
one_major_one_minor_ID = one_major_one_minor['SubjectID']
one_major_two_minors_ID = one_major_two_minors['SubjectID']
one_major_three_minors_ID = one_major_three_minors['SubjectID']
two_majors_one_minor_ID = two_majors_one_minor['SubjectID']
two_majors_two_minors_ID = two_majors_two_minors['SubjectID']
two_majors_three_minors_ID = two_majors_three_minors['SubjectID']
no_major_ID = no_major['SubjectID']

In [50]:
demo[demo['SubjectID']== 187275041]

,SubjectID,Gender,Visa Code,Visa Desc,Citizen Type,Citizen Country Code,Citizen Country Name,First Generation Flag,2010 IPEDS Ethnicity Description,2010 Ethnicity Short Desc,Veteran Status Desc,Birthdate,HS City,HS State Prov,HS Postal Code,HS Country,HS Rank,HS Size,HS Graduation Date,SAT Verbal,SAT Math,SAT Writing,SAT Total,ACT English,ACT Math,ACT Soc Science,ACT Nat Science,ACT Composite,B - Type Desc,B - Class Year,B - Time Status Code,B - Degree Code,B - Major1 Code,B - Major2 Code,B - Response Code,B - Response Desc,B - Response Date,B - Action Code,B - Action Desc,B - Action Date,B - Transfer College Code,B - Transfer College Name,B - Transfer GPA,B - Graduated College Name,Und Cohort First YT,Transfer Year Term,Cohort Major1 Disc Code,Cohort Major1 Dept Code,Cohort Major1 Code,Cohort Major2 Disc Code,Cohort Major2 Dept Code,Cohort Major2 Code,Degree Code,Degree Class Year,Degree Major1 Discipline Code,Degree Major1 Dept Code,Degree Major1 Code,Degree Major2 Discipline Code,Degree Major2 Dept Code,Degree Major2 Code,Degree Minor1 Code,Degree Minor2 Code,Degree Minor3 Code,Clust1 Code,Clust1 Dept Code,Clust2 Code,Clust2 Dept Code,Degree Honors Code,Degree Award Date,Degree Confer Date,Num of Minors,Num of Majors
57,187275041,M,.,.,US CITIZEN,1NY,USA,N,White,WHITE - NO ETHNICITY REPORTED,NaN,1977-06-25,Rochester,NY,14618,1,34,140,NaN,750.0,640.0,NaN,1390.0,NaN,NaN,NaN,NaN,NaN,TRANSFER,2000,F,BA,BIO,NaN,N,ACCEPT WITH WAIVED DEPOSIT,1996-07-10,2,ADMIT,1996-07-10,2798.0,ST JOHN FISHER COLL,3.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2000,NATS,BIOL,BIO,.,.,.,.,.,.,NaN,NaN,NaN,NaN,.,2000-05-14,2000-05-14,0,1
58,187275041,M,.,.,US CITIZEN,1NY,USA,N,White,WHITE - NO ETHNICITY REPORTED,NaN,1977-06-25,Rochester,NY,14618,1,34,140,NaN,750.0,640.0,NaN,1390.0,NaN,NaN,NaN,NaN,NaN,TRANSFER,2000,F,BM,AMU,NaN,A,ACCEPT OFFER OF ADMISSION,1996-05-15,2,ADMIT,1996-04-15,2798.0,ST JOHN FISHER COLL,3.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BM,2000,EAST,PERF,AMU,.,.,.,.,.,.,NaN,NaN,NaN,NaN,.,2000-05-14,2000-05-14,0,1

In [51]:
(179236322 in one_major_ID.tolist())

True

In [52]:
demo[demo['SubjectID']==86447032]

Empty DataFrame
Columns: [SubjectID, Gender, Visa Code, Visa Desc, Citizen Type, Citizen Country Code, Citizen Country Name, First Generation Flag, 2010 IPEDS Ethnicity Description, 2010 Ethnicity Short Desc, Veteran Status Desc, Birthdate, HS City, HS State Prov, HS Postal Code, HS Country, HS Rank, HS Size, HS Graduation Date, SAT Verbal, SAT Math, SAT Writing, SAT Total, ACT English, ACT Math, ACT Soc Science, ACT Nat Science, ACT Composite, B - Type Desc, B - Class Year, B - Time Status Code, B - Degree Code, B - Major1 Code, B - Major2 Code, B - Response Code, B - Response Desc, B - Response Date, B - Action Code, B - Action Desc, B - Action Date, B - Transfer College Code, B - Transfer College Name, B - Transfer GPA, B - Graduated College Name, Und Cohort First YT, Transfer Year Term, Cohort Major1 Disc Code, Cohort Major1 Dept Code, Cohort Major1 Code, Cohort Major2 Disc Code, Cohort Major2 Dept Code, Cohort Major2 Code, Degree Code, Degree Class Year, Degree Major1 Discipline Code, Degree Major1 Dept Code, Degree Major1 Code, Degree Major2 Discipline Code, Degree Major2 Dept Code, Degree Major2 Code, Degree Minor1 Code, Degree Minor2 Code, Degree Minor3 Code, Clust1 Code, Clust1 Dept Code, Clust2 Code, Clust2 Dept Code, Degree Honors Code, Degree Award Date, Degree Confer Date, Num of Minors, Num of Majors]
Index: []

In [53]:
#normal_grad
one_major_normal_grad_ID =[]
two_majors_normal_grad_ID =[]
one_major_one_minor_normal_grad_ID =[]
one_major_two_minors_normal_grad_ID =[]
one_major_three_minors_normal_grad_ID =[]
two_majors_one_minor_normal_grad_ID =[]
two_majors_two_minors_normal_grad_ID =[]
two_majors_three_minors_normal_grad_ID =[]
no_major_normal_grad_ID =[]

for i in normal_grad:
    #print(i)
    if i in one_major_ID.tolist():
        one_major_normal_grad_ID.append(i)
    elif i in two_majors_ID.tolist():
        two_majors_normal_grad_ID.append(i)
    elif i in one_major_one_minor_ID.tolist():
        one_major_one_minor_normal_grad_ID.append(i)
    elif i in one_major_two_minors_ID.tolist():
        one_major_two_minors_normal_grad_ID.append(i)
    elif i in one_major_three_minors_ID.tolist():
        one_major_three_minors_normal_grad_ID.append(i)
    elif i in two_majors_one_minor_ID.tolist():
        two_majors_one_minor_normal_grad_ID.append(i)
    elif i in two_majors_two_minors_ID.tolist():
        two_majors_two_minors_normal_grad_ID.append(i)
    elif i in two_majors_three_minors_ID.tolist():
        two_majors_three_minors_normal_grad_ID.append(i)
    elif i in no_major_ID.tolist():
        no_major_normal_grad_ID.append(i)

In [54]:
#nine_twelve 
one_major_nine_twelve_ID =[]
two_majors_nine_twelve_ID =[]
one_major_one_minor_nine_twelve_ID =[]
one_major_two_minors_nine_twelve_ID =[]
one_major_three_minors_nine_twelve_ID =[]
two_majors_one_minor_nine_twelve_ID =[]
two_majors_two_minors_nine_twelve_ID =[]
two_majors_three_minors_nine_twelve_ID =[]
no_major_nine_twelve_ID = []

for i in nine_twelve:
    if i in one_major_ID.tolist():
        one_major_nine_twelve_ID.append(i)
    elif i in two_majors_ID.tolist():
        two_majors_nine_twelve_ID.append(i)
    elif i in one_major_one_minor_ID.tolist():
        one_major_one_minor_nine_twelve_ID.append(i)
    elif i in one_major_two_minors_ID.tolist():
        one_major_two_minors_nine_twelve_ID.append(i)
    elif i in one_major_three_minors_ID.tolist():
        one_major_three_minors_nine_twelve_ID.append(i)
    elif i in two_majors_one_minor_ID.tolist():
        two_majors_one_minor_nine_twelve_ID.append(i)
    elif i in two_majors_two_minors_ID.tolist():
        two_majors_two_minors_nine_twelve_ID.append(i)
    elif i in two_majors_three_minors_ID.tolist():
        two_majors_three_minors_nine_twelve_ID.append(i)
    elif i in no_major_ID.tolist():
        no_major_nine_twelve_ID.append(i)

In [55]:
#non_grad
one_major_non_grad_ID =[]
two_majors_non_grad_ID =[]
one_major_one_minor_non_grad_ID =[]
one_major_two_minors_non_grad_ID =[]
one_major_three_minors_non_grad_ID =[]
two_majors_one_minor_non_grad_ID =[]
two_majors_two_minors_non_grad_ID =[]
two_majors_three_minors_non_grad_ID =[]
no_major_non_grad_ID=[]

for i in non_grad:
    if i in one_major_ID.tolist():
        one_major_non_grad_ID.append(i)
    elif i in two_majors_ID.tolist():
        two_majors_non_grad_ID.append(i)
    elif i in one_major_one_minor_ID.tolist():
        one_major_one_minor_non_grad_ID.append(i)
    elif i in one_major_two_minors_ID.tolist():
        one_major_two_minors_non_grad_ID.append(i)
    elif i in one_major_three_minors_ID.tolist():
        one_major_three_minors_non_grad_ID.append(i)
    elif i in two_majors_one_minor_ID.tolist():
        two_majors_one_minor_non_grad_ID.append(i)
    elif i in two_majors_two_minors_ID.tolist():
        two_majors_two_minors_non_grad_ID.append(i)
    elif i in two_majors_three_minors_ID.tolist():
        two_majors_three_minors_non_grad_ID.append(i)
    elif i in no_major_ID.tolist():
        no_major_non_grad_ID.append(i)

In [56]:
#twelve_more
one_major_twelve_more_ID =[]
two_majors_twelve_more_ID =[]
one_major_one_minor_twelve_more_ID =[]
one_major_two_minors_twelve_more_ID =[]
one_major_three_minors_twelve_more_ID =[]
two_majors_one_minor_twelve_more_ID =[]
two_majors_two_minors_twelve_more_ID =[]
two_majors_three_minors_twelve_more_ID =[]
no_major_twelve_more_ID = []

for i in twelve_more:
    if i in one_major_ID.tolist():
        one_major_twelve_more_ID.append(i)
    elif i in two_majors_ID.tolist():
        two_majors_twelve_more_ID.append(i)
    elif i in one_major_one_minor_ID.tolist():
        one_major_one_minor_twelve_more_ID.append(i)
    elif i in one_major_two_minors_ID.tolist():
        one_major_two_minors_twelve_more_ID.append(i)
    elif i in one_major_three_minors_ID.tolist():
        one_major_three_minors_twelve_more_ID.append(i)
    elif i in two_majors_one_minor_ID.tolist():
        two_majors_one_minor_twelve_more_ID.append(i)
    elif i in two_majors_two_minors_ID.tolist():
        two_majors_two_minors_twelve_more_ID.append(i)
    elif i in two_majors_three_minors_ID.tolist():
        two_majors_three_minors_twelve_more_ID.append(i)
    elif i in no_major_ID.tolist():
        no_major_twelve_more_ID.append(i)

In [57]:
#normal grad
len(one_major_normal_grad_ID)+len(two_majors_normal_grad_ID)+len(one_major_one_minor_normal_grad_ID)+len(one_major_two_minors_normal_grad_ID)+len(one_major_three_minors_normal_grad_ID)+len(two_majors_one_minor_normal_grad_ID)+len(two_majors_two_minors_normal_grad_ID)+len(two_majors_three_minors_normal_grad_ID)+len(no_major_normal_grad_ID)

11267

In [58]:
normal = [[1,0, len(one_major_normal_grad_ID),term[term['SubjectID'].isin(one_major_normal_grad_ID)].groupby(['SubjectID']).tail(1)['Cumul GPA'].mean()], 
          [2,0, len(two_majors_normal_grad_ID),term[term['SubjectID'].isin(two_majors_normal_grad_ID)].groupby(['SubjectID']).tail(1)['Cumul GPA'].mean()], 
          [1,1, len(one_major_one_minor_normal_grad_ID),term[term['SubjectID'].isin(one_major_one_minor_normal_grad_ID)].groupby(['SubjectID']).tail(1)['Cumul GPA'].mean()],
         [1,2, len(one_major_two_minors_normal_grad_ID),term[term['SubjectID'].isin(one_major_two_minors_normal_grad_ID)].groupby(['SubjectID']).tail(1)['Cumul GPA'].mean()], 
          [1,3,len(one_major_three_minors_normal_grad_ID),term[term['SubjectID'].isin(one_major_three_minors_normal_grad_ID)].groupby(['SubjectID']).tail(1)['Cumul GPA'].mean()],
          [2,1, len(two_majors_one_minor_normal_grad_ID),term[term['SubjectID'].isin(two_majors_one_minor_normal_grad_ID)].groupby(['SubjectID']).tail(1)['Cumul GPA'].mean()], 
          [2,2, len(two_majors_two_minors_normal_grad_ID),term[term['SubjectID'].isin(two_majors_two_minors_normal_grad_ID)].groupby(['SubjectID']).tail(1)['Cumul GPA'].mean()],
          [2,3, len(two_majors_three_minors_normal_grad_ID),term[term['SubjectID'].isin(two_majors_three_minors_normal_grad_ID)].groupby(['SubjectID']).tail(1)['Cumul GPA'].mean()],
          [0,0,len(no_major_normal_grad_ID),term[term['SubjectID'].isin(no_major_normal_grad_ID)].groupby(['SubjectID']).tail(1)['Cumul GPA'].mean()] 
         ] 
df_normal_grad = pd.DataFrame(normal, columns = ['Num of Major', 'Num of Minor', 'Num of students','Avg Cumul GPA'])

In [59]:
n_t = [[1,0, len(one_major_nine_twelve_ID),term[term['SubjectID'].isin(one_major_nine_twelve_ID)].groupby(['SubjectID']).tail(1)['Cumul GPA'].mean()], 
       [2,0, len(two_majors_nine_twelve_ID),term[term['SubjectID'].isin(two_majors_nine_twelve_ID)].groupby(['SubjectID']).tail(1)['Cumul GPA'].mean()], 
       [1,1, len(one_major_one_minor_nine_twelve_ID),term[term['SubjectID'].isin(one_major_one_minor_nine_twelve_ID)].groupby(['SubjectID']).tail(1)['Cumul GPA'].mean()],
         [1,2, len(one_major_two_minors_nine_twelve_ID),term[term['SubjectID'].isin(one_major_two_minors_nine_twelve_ID)].groupby(['SubjectID']).tail(1)['Cumul GPA'].mean()], 
       [1,3,len(one_major_three_minors_nine_twelve_ID),term[term['SubjectID'].isin(one_major_three_minors_nine_twelve_ID)].groupby(['SubjectID']).tail(1)['Cumul GPA'].mean()],
          [2,1, len(two_majors_one_minor_nine_twelve_ID),term[term['SubjectID'].isin(two_majors_one_minor_nine_twelve_ID)].groupby(['SubjectID']).tail(1)['Cumul GPA'].mean()], 
       [2,2, len(two_majors_two_minors_nine_twelve_ID),term[term['SubjectID'].isin(two_majors_two_minors_nine_twelve_ID)].groupby(['SubjectID']).tail(1)['Cumul GPA'].mean()],
          [2,3, len(two_majors_three_minors_nine_twelve_ID),term[term['SubjectID'].isin(two_majors_three_minors_nine_twelve_ID)].groupby(['SubjectID']).tail(1)['Cumul GPA'].mean()],
       [0,0,len(no_major_nine_twelve_ID),term[term['SubjectID'].isin(no_major_nine_twelve_ID)].groupby(['SubjectID']).tail(1)['Cumul GPA'].mean() ] 
      ] 
df_n_t_grad = pd.DataFrame(n_t, columns = ['Num of Major', 'Num of Minor', 'Num of students','Avg Cumul GPA'])

In [60]:
non_g = [[1,0, len(one_major_non_grad_ID),term[term['SubjectID'].isin(one_major_non_grad_ID)].groupby(['SubjectID']).tail(1)['Cumul GPA'].mean()], 
         [2,0, len(two_majors_non_grad_ID),term[term['SubjectID'].isin(two_majors_non_grad_ID)].groupby(['SubjectID']).tail(1)['Cumul GPA'].mean()], 
         [1,1, len(one_major_one_minor_non_grad_ID),term[term['SubjectID'].isin(one_major_one_minor_non_grad_ID)].groupby(['SubjectID']).tail(1)['Cumul GPA'].mean()],
         [1,2, len(one_major_two_minors_non_grad_ID),term[term['SubjectID'].isin(one_major_two_minors_non_grad_ID)].groupby(['SubjectID']).tail(1)['Cumul GPA'].mean()], 
         [1,3,len(one_major_three_minors_non_grad_ID),term[term['SubjectID'].isin(one_major_three_minors_non_grad_ID)].groupby(['SubjectID']).tail(1)['Cumul GPA'].mean()],
          [2,1, len(two_majors_one_minor_non_grad_ID),term[term['SubjectID'].isin(two_majors_one_minor_non_grad_ID)].groupby(['SubjectID']).tail(1)['Cumul GPA'].mean()], 
         [2,2, len(two_majors_two_minors_non_grad_ID),term[term['SubjectID'].isin(two_majors_two_minors_non_grad_ID)].groupby(['SubjectID']).tail(1)['Cumul GPA'].mean()],
          [2,3, len(two_majors_three_minors_non_grad_ID),term[term['SubjectID'].isin(two_majors_three_minors_non_grad_ID)].groupby(['SubjectID']).tail(1)['Cumul GPA'].mean()],
         [0,0,len(no_major_non_grad_ID),term[term['SubjectID'].isin(no_major_non_grad_ID)].groupby(['SubjectID']).tail(1)['Cumul GPA'].mean() ] 
        ] 
df_non_g = pd.DataFrame(non_g, columns = ['Num of Major', 'Num of Minor', 'Num of students','Avg Cumul GPA'])

In [61]:
t_more = [[1,0, len(one_major_twelve_more_ID),term[term['SubjectID'].isin(one_major_twelve_more_ID)].groupby(['SubjectID']).tail(1)['Cumul GPA'].mean()], 
          [2,0, len(two_majors_twelve_more_ID),term[term['SubjectID'].isin(two_majors_twelve_more_ID)].groupby(['SubjectID']).tail(1)['Cumul GPA'].mean()], 
          [1,1, len(one_major_one_minor_twelve_more_ID), term[term['SubjectID'].isin(one_major_one_minor_twelve_more_ID)].groupby(['SubjectID']).tail(1)['Cumul GPA'].mean()],
          [1,2, len(one_major_two_minors_twelve_more_ID),term[term['SubjectID'].isin(one_major_two_minors_twelve_more_ID)].groupby(['SubjectID']).tail(1)['Cumul GPA'].mean()], 
          [1,3,len(one_major_three_minors_twelve_more_ID),term[term['SubjectID'].isin(one_major_three_minors_twelve_more_ID)].groupby(['SubjectID']).tail(1)['Cumul GPA'].mean()],
          [2,1, len(two_majors_one_minor_twelve_more_ID),term[term['SubjectID'].isin(two_majors_one_minor_twelve_more_ID)].groupby(['SubjectID']).tail(1)['Cumul GPA'].mean()], 
          [2,2, len(two_majors_two_minors_twelve_more_ID),term[term['SubjectID'].isin(two_majors_two_minors_twelve_more_ID)].groupby(['SubjectID']).tail(1)['Cumul GPA'].mean()],
          [2,3, len(two_majors_three_minors_twelve_more_ID),term[term['SubjectID'].isin(two_majors_three_minors_twelve_more_ID)].groupby(['SubjectID']).tail(1)['Cumul GPA'].mean()],
          [0,0,len(no_major_twelve_more_ID), term[term['SubjectID'].isin(no_major_twelve_more_ID)].groupby(['SubjectID']).tail(1)['Cumul GPA'].mean()] 
         ] 
df_t_more = pd.DataFrame(t_more, columns = ['Num of Major', 'Num of Minor', 'Num of students','Avg Cumul GPA'])

In [62]:
#one_major_twelve_more_GPA = term[term['SubjectID'].isin(one_major_twelve_more_ID)]
#one_major_twelve_more_GPA.groupby(['SubjectID']).tail(1)['Cumul GPA'].describe()

#term[term['SubjectID'].isin(one_major_twelve_more_ID)].groupby(['SubjectID']).tail(1)['Cumul GPA'].mean()

In [63]:
df_normal_grad

   Num of Major  Num of Minor  Num of students  Avg Cumul GPA
0             1             0             5406       3.341617
1             2             0             1543       3.495301
2             1             1             3305       3.429410
3             1             2              577       3.527764
4             1             3               23       3.502609
5             2             1              388       3.585773
6             2             2               22       3.581364
7             2             3                3       3.593333
8             0             0                0            NaN

In [64]:
df_n_t_grad

   Num of Major  Num of Minor  Num of students  Avg Cumul GPA
0             1             0             2989       3.137909
1             2             0              829       3.394077
2             1             1             1620       3.289525
3             1             2              326       3.421166
4             1             3               15       3.493333
5             2             1              250       3.534560
6             2             2               27       3.583704
7             2             3                0            NaN
8             0             0                0            NaN

In [65]:
df_non_g

   Num of Major  Num of Minor  Num of students  Avg Cumul GPA
0             1             0               14       2.808571
1             2             0                1       2.970000
2             1             1                1       2.940000
3             1             2                1       3.220000
4             1             3                0            NaN
5             2             1                0            NaN
6             2             2                0            NaN
7             2             3                0            NaN
8             0             0             2707       2.575478

In [66]:
df_t_more

   Num of Major  Num of Minor  Num of students  Avg Cumul GPA
0             1             0              243       2.815432
1             2             0               26       3.076923
2             1             1               58       2.977241
3             1             2                6       2.931667
4             1             3                0            NaN
5             2             1                7       3.072857
6             2             2                0            NaN
7             2             3                0            NaN
8             0             0                0            NaN

In [67]:
#twelve_more
len(one_major_twelve_more_ID)+len(two_majors_twelve_more_ID)+len(one_major_one_minor_twelve_more_ID)+len(one_major_two_minors_twelve_more_ID)+len(one_major_three_minors_twelve_more_ID)+len(two_majors_one_minor_twelve_more_ID)+len(two_majors_two_minors_twelve_more_ID)+len(two_majors_three_minors_twelve_more_ID)+len(no_major_twelve_more_ID)

340

In [68]:
#non_grad
len(one_major_non_grad_ID)+len(two_majors_non_grad_ID)+len(one_major_one_minor_non_grad_ID)+len(one_major_two_minors_non_grad_ID)+len(one_major_three_minors_non_grad_ID)+len(two_majors_one_minor_non_grad_ID)+len(two_majors_two_minors_non_grad_ID)+len(two_majors_three_minors_non_grad_ID)+len(no_major_non_grad_ID)

2724

In [69]:
#nine_twelve
len(one_major_nine_twelve_ID)+len(two_majors_nine_twelve_ID)+len(one_major_one_minor_nine_twelve_ID)+len(one_major_two_minors_nine_twelve_ID)+len(one_major_three_minors_nine_twelve_ID)+len(two_majors_one_minor_nine_twelve_ID)+len(two_majors_two_minors_nine_twelve_ID)+len(two_majors_three_minors_nine_twelve_ID)+len(no_major_nine_twelve_ID)

6056

In [70]:
#based on number of majors

In [71]:
len(no_major_normal_grad_ID) + len(no_major_nine_twelve_ID) + len(no_major_non_grad_ID) + len(no_major_twelve_more_ID)

2707

In [72]:
len(no_major_ID)

3077

In [73]:
len(one_major_twelve_more_ID)+len(one_major_non_grad_ID)+len(one_major_nine_twelve_ID)+len(one_major_normal_grad_ID)

8652

In [74]:
len(one_major_ID)

11431

In [75]:
len(two_majors_twelve_more_ID) + len(two_majors_non_grad_ID)+len(two_majors_nine_twelve_ID) + len(two_majors_normal_grad_ID)

2399

In [76]:
len(two_majors_ID)

2674

In [77]:
len(one_major_one_minor_twelve_more_ID) + len(one_major_one_minor_normal_grad_ID) + len(one_major_one_minor_non_grad_ID)+ len(one_major_one_minor_nine_twelve_ID)

4984

In [78]:
len(one_major_one_minor_ID)

5813

In [79]:
len(one_major_two_minors_non_grad_ID) + len(one_major_two_minors_nine_twelve_ID) + len(one_major_two_minors_normal_grad_ID) + len(one_major_two_minors_twelve_more_ID)

910

In [80]:
len(one_major_two_minors_ID)

989

In [81]:
len(one_major_three_minors_twelve_more_ID)+ len(one_major_three_minors_nine_twelve_ID)+len(one_major_three_minors_normal_grad_ID)+ len(one_major_three_minors_non_grad_ID)

38

In [82]:
len(one_major_three_minors_ID)

43

In [83]:
len(two_majors_one_minor_normal_grad_ID) + len(two_majors_one_minor_non_grad_ID) + len(two_majors_one_minor_nine_twelve_ID) + len(two_majors_one_minor_twelve_more_ID)

645

In [84]:
len(two_majors_one_minor_ID)

705

In [85]:
len(two_majors_two_minors_normal_grad_ID) + len(two_majors_two_minors_non_grad_ID) + len(two_majors_two_minors_nine_twelve_ID) +len(two_majors_two_minors_twelve_more_ID)

49

In [86]:
len(two_majors_two_minors_ID)

57

In [87]:
one_major_GPA = term[term['SubjectID'].isin(one_major_ID) ]
two_majors_GPA = term[term['SubjectID'].isin(two_majors_ID) ]
one_major_one_minor_GPA = term[term['SubjectID'].isin(one_major_one_minor_ID)]
one_major_two_minors_GPA = term[term['SubjectID'].isin(one_major_two_minors_ID)]
one_major_three_minors_GPA = term[term['SubjectID'].isin(one_major_three_minors_ID)]

two_majors_one_minor_GPA = term[term['SubjectID'].isin(two_majors_one_minor_ID)]
two_majors_two_minors_GPA = term[term['SubjectID'].isin(two_majors_two_minors_ID)]
two_majors_three_minors_GPA = term[term['SubjectID'].isin(two_majors_three_minors_ID)]
no_major_GPA = term[term['SubjectID'].isin(no_major_ID)]

change_majors_GPA = term[term['SubjectID'].isin(student_changed_majors)]
changed_majors_once_GPA = term[term['SubjectID'].isin(student_changed_majors_once)]
changed_majors_twice_GPA = term[term['SubjectID'].isin(student_changed_majors_twice)]
changed_majors_three_GPA = term[term['SubjectID'].isin(student_changed_majors_three)]

In [88]:
one_major_GPA.groupby(['SubjectID']).tail(1)['Cumul GPA'].describe()

count    9453.000000
mean        3.283983
std         0.454124
min         1.770000
25%         2.980000
50%         3.340000
75%         3.660000
max         4.000000
Name: Cumul GPA, dtype: float64

In [89]:
two_majors_GPA.groupby(['SubjectID']).tail(1)['Cumul GPA'].describe()

count    2526.000000
mean        3.466603
std         0.358425
min         2.000000
25%         3.250000
50%         3.540000
75%         3.750000
max         4.000000
Name: Cumul GPA, dtype: float64

In [90]:
one_major_one_minor_GPA.groupby(['SubjectID']).tail(1)['Cumul GPA'].describe()

count    5496.000000
mean        3.401150
std         0.384851
min         1.340000
25%         3.160000
50%         3.460000
75%         3.700000
max         4.000000
Name: Cumul GPA, dtype: float64

In [91]:
one_major_two_minors_GPA.groupby(['SubjectID']).tail(1)['Cumul GPA'].describe()

count    958.000000
mean       3.491743
std        0.342156
min        2.340000
25%        3.282500
50%        3.540000
75%        3.760000
max        4.000000
Name: Cumul GPA, dtype: float64

In [92]:
one_major_three_minors_GPA.groupby(['SubjectID']).tail(1)['Cumul GPA'].describe()

count    43.000000
mean      3.530000
std       0.365279
min       2.500000
25%       3.265000
50%       3.560000
75%       3.875000
max       4.000000
Name: Cumul GPA, dtype: float64

In [93]:
two_majors_one_minor_GPA.groupby(['SubjectID']).tail(1)['Cumul GPA'].describe()

count    679.000000
mean       3.569838
std        0.296104
min        2.270000
25%        3.390000
50%        3.620000
75%        3.800000
max        4.000000
Name: Cumul GPA, dtype: float64

In [94]:
two_majors_two_minors_GPA.groupby(['SubjectID']).tail(1)['Cumul GPA'].describe()

count    56.000000
mean      3.619821
std       0.246536
min       2.770000
25%       3.475000
50%       3.655000
75%       3.790000
max       4.000000
Name: Cumul GPA, dtype: float64

In [95]:
two_majors_three_minors_GPA.groupby(['SubjectID']).tail(1)['Cumul GPA'].describe()

count    3.000000
mean     3.593333
std      0.349333
min      3.280000
25%      3.405000
50%      3.530000
75%      3.750000
max      3.970000
Name: Cumul GPA, dtype: float64

In [96]:
no_major_GPA.groupby(['SubjectID']).tail(1)['Cumul GPA'].describe()

count    3048.000000
mean        2.558248
std         1.123880
min         0.000000
25%         2.007500
50%         2.840000
75%         3.430000
max         4.000000
Name: Cumul GPA, dtype: float64

In [97]:
change_majors_GPA.groupby(['SubjectID']).tail(1)['Cumul GPA'].describe()

count    13194.000000
mean         3.283446
std          0.496292
min          0.000000
25%          3.010000
50%          3.370000
75%          3.660000
max          4.000000
Name: Cumul GPA, dtype: float64

In [98]:
changed_majors_once_GPA.groupby(['SubjectID']).tail(1)['Cumul GPA'].describe()

count    11812.000000
mean         3.315527
std          0.476331
min          0.000000
25%          3.060000
50%          3.400000
75%          3.670000
max          4.000000
Name: Cumul GPA, dtype: float64

In [99]:
changed_majors_twice_GPA.groupby(['SubjectID']).tail(1)['Cumul GPA'].describe()

count    1543.000000
mean        3.114031
std         0.547103
min         0.000000
25%         2.740000
50%         3.190000
75%         3.550000
max         4.000000
Name: Cumul GPA, dtype: float64

In [100]:
changed_majors_three_GPA.groupby(['SubjectID']).tail(1)['Cumul GPA'].describe()

count    191.000000
mean       2.788691
std        0.605894
min        0.000000
25%        2.365000
50%        2.790000
75%        3.180000
max        3.980000
Name: Cumul GPA, dtype: float64

In [101]:
one_major_graduate = demo[demo['SubjectID'].isin(one_major_ID) ]
two_majors_graduate = demo[demo['SubjectID'].isin(two_majors_ID) ]
one_major_one_minor_graduate = demo[demo['SubjectID'].isin(one_major_one_minor_ID) ]
one_major_two_minors_graduate = demo[demo['SubjectID'].isin(one_major_two_minors_ID) ]
one_major_three_minors_graduate = demo[demo['SubjectID'].isin(one_major_three_minors_ID) ]

two_majors_one_minor_graduate = demo[demo['SubjectID'].isin(two_majors_one_minor_ID) ]
two_majors_two_minors_graduate = demo[demo['SubjectID'].isin(two_majors_two_minors_ID) ]
two_majors_three_minors_graduate = demo[demo['SubjectID'].isin(two_majors_three_minors_ID) ]
no_major_graduate = demo[demo['SubjectID'].isin(no_major_ID) ]

change_majors_graduate = demo[demo['SubjectID'].isin(student_changed_majors)]
changed_majors_once_graduate = demo[demo['SubjectID'].isin(student_changed_majors_once)]
changed_majors_twice_graduate = demo[demo['SubjectID'].isin(student_changed_majors_twice)]
changed_majors_three_graduate = demo[demo['SubjectID'].isin(student_changed_majors_three)]

In [102]:
one_major_graduate

,SubjectID,Gender,Visa Code,Visa Desc,Citizen Type,Citizen Country Code,Citizen Country Name,First Generation Flag,2010 IPEDS Ethnicity Description,2010 Ethnicity Short Desc,Veteran Status Desc,Birthdate,HS City,HS State Prov,HS Postal Code,HS Country,HS Rank,HS Size,HS Graduation Date,SAT Verbal,SAT Math,SAT Writing,SAT Total,ACT English,ACT Math,ACT Soc Science,ACT Nat Science,ACT Composite,B - Type Desc,B - Class Year,B - Time Status Code,B - Degree Code,B - Major1 Code,B - Major2 Code,B - Response Code,B - Response Desc,B - Response Date,B - Action Code,B - Action Desc,B - Action Date,B - Transfer College Code,B - Transfer College Name,B - Transfer GPA,B - Graduated College Name,Und Cohort First YT,Transfer Year Term,Cohort Major1 Disc Code,Cohort Major1 Dept Code,Cohort Major1 Code,Cohort Major2 Disc Code,Cohort Major2 Dept Code,Cohort Major2 Code,Degree Code,Degree Class Year,Degree Major1 Discipline Code,Degree Major1 Dept Code,Degree Major1 Code,Degree Major2 Discipline Code,Degree Major2 Dept Code,Degree Major2 Code,Degree Minor1 Code,Degree Minor2 Code,Degree Minor3 Code,Clust1 Code,Clust1 Dept Code,Clust2 Code,Clust2 Dept Code,Degree Honors Code,Degree Award Date,Degree Confer Date,Num of Minors,Num of Majors
1,179236322,M,.,.,US CITIZEN,1MA,USA,N,White,WHITE - NO ETHNICITY REPORTED,NaN,1971-04-13,Lexington,MA,2421,1,0,0,NaN,680.0,800.0,NaN,1480.0,NaN,NaN,NaN,NaN,NaN,READMIT,2000,F,BA,BIO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2956.0,VASSAR COLLEGE,3.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,1994,NATS,BIOL,BIO,.,.,.,.,.,.,NaN,NaN,NaN,NaN,.,1994-05-22,NaN,0,1
2,181015370,M,.,.,US CITIZEN,1NY,USA,N,White,WHITE - NO ETHNICITY REPORTED,NaN,1972-11-11,Rochester,NY,14606,1,73,179,NaN,520.0,610.0,NaN,1130.0,18.0,21.0,21.0,21.0,20.0,READMIT,2000,P,BA,PSC,NaN,NaN,NaN,NaN,2,ADMIT,2000-01-07,2429.0,MONROE CMTY COLLEGE,2.73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2010,SOCS,PSCI,PSC,.,.,.,.,.,.,NaN,NaN,NaN,NaN,.,2010-12-31,2011-03-10,0,1
3,183070133,M,IM,IMMIGRANT PERMANENT RESIDENT,PERM RES,3GY,GUYANA,N,Unknown,NO RACE REPORTED - NO ETHNICITY REPORTED,NaN,1973-08-13,Brooklyn,NY,11203,1,6,373,NaN,400.0,430.0,NaN,830.0,NaN,NaN,NaN,NaN,NaN,READMIT,2000,P,BA,CSM,NaN,N,ACCEPT WITH WAIVED DEPOSIT,2000-01-14,2,ADMIT,1999-12-21,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2000,ENGN,CSCI,CSM,.,.,.,.,.,.,NaN,NaN,NaN,NaN,.,1996-05-26,1996-05-26,0,1
4,183070133,M,IM,IMMIGRANT PERMANENT RESIDENT,PERM RES,3GY,GUYANA,N,Unknown,NO RACE REPORTED - NO ETHNICITY REPORTED,NaN,1973-08-13,Brooklyn,NY,11203,1,6,373,NaN,400.0,430.0,NaN,830.0,NaN,NaN,NaN,NaN,NaN,READMIT,2000,P,BA,CSM,NaN,N,ACCEPT WITH WAIVED DEPOSIT,2000-01-14,2,ADMIT,1999-12-21,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2000,ENGN,CSCI,CSM,.,.,.,.,.,.,NaN,NaN,NaN,NaN,.,1998-05-17,NaN,0,1
5,183070133,M,IM,IMMIGRANT PERMANENT RESIDENT,PERM RES,3GY,GUYANA,N,Unknown,NO RACE REPORTED - NO ETHNICITY REPORTED,NaN,1973-08-13,Brooklyn,NY,11203,1,6,373,NaN,400.0,430.0,NaN,830.0,NaN,NaN,NaN,NaN,NaN,READMIT,2000,P,BA,CSM,NaN,N,ACCEPT WITH WAIVED DEPOSIT,2000-01-14,2,ADMIT,1999-12-21,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2000,ENGN,CSCI,CSM,.,.,.,.,.,.,NaN,NaN,NaN,NaN,.,2000-05-14,2000-05-14,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24587,254575592,F,F1,ACADEMIC STUDENT,NON US CITIZEN,3PR,CHINA,N,NRA,NO RACE REPORTED - NO ETHNICITY REPORTED,NaN,1993-09-26,Wayne,NJ,7470,1,0,0,62011.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TRANSFER,2016,F,BA,ECO,NaN,A,ACCEPT OFFER OF ADMISSION,2014-12-02,2,ADMIT,2014-12-02,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2018,ENGN,CSCI,CSC,.,.,.,.,.,.,H1TR001,OTHR,NaN,NaN,.,2018-05-20,2018-05-20,0,1
24588,254575592,F,F1,ACADEMIC STUDENT,NON US CITIZEN,3PR,CHINA,N,NRA,NO RACE REPORTED - NO ETHNICITY REPORTED,NaN,1993-09-26,Wayne,NJ,7470,1,0,0,62011.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TRANSFER,2016,F,BA,ECO,NaN,A,ACCEPT OFFER OF ADMISSION,2014-12-02,2,ADMIT,2014-12-02,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2018,SOCS,HIST,HIS,.,.,.,.,.,.,H1TR001,OTHR,NaN,NaN,.,2018-05-20,2018-05-20,0,1
24589,254575592,F,F1,ACADEMIC STUDENT,NON US CITIZEN,3PR,CHINA,N,NRA,NO RACE REPORTED - NO ETHNICITY REPORTED,NaN,1993-09-26,Wayne,NJ,7470,1,0,0,62011.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TRANSFER,2016,F,BA,HIS,NaN,Z,CODE FOR NON-MATRICULATED STUDENT - USED BY RE...,2018-01-16,NaN,NaN,NaN,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2018,ENGN,CSCI,CSC,.,.,.,.,.,.,H1TR001,OTHR,NaN,NaN,.,2018-05-20,2018-05-20,0,1
24590,254575592,F,F1,ACADEMIC STUDENT,NON US CITIZEN,3PR,CHINA,N,NRA,NO RACE REPORTED - NO ETHNICITY REPORTED,NaN,1993-09-26,Wayne,NJ,7470,1,0,0,62011.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TRANSFER,2016,F,BA,HIS,NaN,Z,CODE FOR NON-MATRICULATED STUDENT - USED BY RE...,2018-01-16,NaN,NaN,NaN,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2018,SOCS,HIST,HIS,.,.,.,.,.,.,H1TR001,OTHR,NaN,NaN,.,2018-05-20,2018-05-20,0,1
24591,254613473,F,F1,ACADEMIC STUDENT,NON US CITIZEN,3PR,CHINA,N,NRA,NO RACE REPORTED - NO ETHNICITY REPORTED,NaN,1993-10-13,,OF,.,3,0,0,62011.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TRANSFER,2016,F,BA,MST,NaN,A,ACCEPT OFFER OF ADMISSION,2014-12-08,2,ADMIT,2014-12-08,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2019,NATS,MATH,MST,.,.,.,.,.,.,H1TR001,OTHR,S1TR001,OTHR,.,2019-05-19,NaN,0,1

In [103]:
one_major_graduate['Degree Confer Date'].isna().sum() / one_major_graduate['SubjectID'].count()
# % of one majors who didnt graduate

0.03613438266903613

In [104]:
two_majors_graduate['Degree Confer Date'].isna().sum() / two_majors_graduate['SubjectID'].count()

0.013528336380255941

In [105]:
one_major_one_minor_graduate['Degree Confer Date'].isna().sum()  / one_major_one_minor_graduate['SubjectID'].count()

0.01193005393038078

In [106]:
one_major_two_minors_graduate['Degree Confer Date'].isna().sum() / one_major_two_minors_graduate['SubjectID'].count()

0.012720156555772993

In [107]:
one_major_three_minors_graduate['Degree Confer Date'].isna().sum() / one_major_three_minors_graduate['SubjectID'].count()

0.0

In [108]:
two_majors_one_minor_graduate['Degree Confer Date'].isna().sum()/ two_majors_one_minor_graduate['SubjectID'].count()

0.005649717514124294

In [109]:
two_majors_two_minors_graduate['Degree Confer Date'].isna().sum()/ two_majors_two_minors_graduate['SubjectID'].count()

0.0

In [110]:
two_majors_three_minors_graduate['Degree Confer Date'].isna().sum()/ two_majors_three_minors_graduate['SubjectID'].count()

0.0

In [111]:
no_major_graduate['Degree Confer Date'].isna().sum()/ no_major_graduate['SubjectID'].count()

1.0

In [112]:
change_majors_graduate['Degree Confer Date'].isna().sum()/ change_majors_graduate['SubjectID'].count()

0.059547571523619426

In [113]:
changed_majors_once_graduate['Degree Confer Date'].isna().sum()/ changed_majors_once_graduate['SubjectID'].count()

0.05380863039399625

In [114]:
changed_majors_twice_graduate['Degree Confer Date'].isna().sum()/ changed_majors_twice_graduate['SubjectID'].count()

0.07700477960701009

In [115]:
changed_majors_three_graduate['Degree Confer Date'].isna().sum()/ changed_majors_three_graduate['SubjectID'].count()

0.16877637130801687

##### checking examples

In [116]:
demo[demo['SubjectID']==254575592]

,SubjectID,Gender,Visa Code,Visa Desc,Citizen Type,Citizen Country Code,Citizen Country Name,First Generation Flag,2010 IPEDS Ethnicity Description,2010 Ethnicity Short Desc,Veteran Status Desc,Birthdate,HS City,HS State Prov,HS Postal Code,HS Country,HS Rank,HS Size,HS Graduation Date,SAT Verbal,SAT Math,SAT Writing,SAT Total,ACT English,ACT Math,ACT Soc Science,ACT Nat Science,ACT Composite,B - Type Desc,B - Class Year,B - Time Status Code,B - Degree Code,B - Major1 Code,B - Major2 Code,B - Response Code,B - Response Desc,B - Response Date,B - Action Code,B - Action Desc,B - Action Date,B - Transfer College Code,B - Transfer College Name,B - Transfer GPA,B - Graduated College Name,Und Cohort First YT,Transfer Year Term,Cohort Major1 Disc Code,Cohort Major1 Dept Code,Cohort Major1 Code,Cohort Major2 Disc Code,Cohort Major2 Dept Code,Cohort Major2 Code,Degree Code,Degree Class Year,Degree Major1 Discipline Code,Degree Major1 Dept Code,Degree Major1 Code,Degree Major2 Discipline Code,Degree Major2 Dept Code,Degree Major2 Code,Degree Minor1 Code,Degree Minor2 Code,Degree Minor3 Code,Clust1 Code,Clust1 Dept Code,Clust2 Code,Clust2 Dept Code,Degree Honors Code,Degree Award Date,Degree Confer Date,Num of Minors,Num of Majors
24587,254575592,F,F1,ACADEMIC STUDENT,NON US CITIZEN,3PR,CHINA,N,NRA,NO RACE REPORTED - NO ETHNICITY REPORTED,NaN,1993-09-26,Wayne,NJ,7470,1,0,0,62011.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TRANSFER,2016,F,BA,ECO,NaN,A,ACCEPT OFFER OF ADMISSION,2014-12-02,2,ADMIT,2014-12-02,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2018,ENGN,CSCI,CSC,.,.,.,.,.,.,H1TR001,OTHR,NaN,NaN,.,2018-05-20,2018-05-20,0,1
24588,254575592,F,F1,ACADEMIC STUDENT,NON US CITIZEN,3PR,CHINA,N,NRA,NO RACE REPORTED - NO ETHNICITY REPORTED,NaN,1993-09-26,Wayne,NJ,7470,1,0,0,62011.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TRANSFER,2016,F,BA,ECO,NaN,A,ACCEPT OFFER OF ADMISSION,2014-12-02,2,ADMIT,2014-12-02,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2018,SOCS,HIST,HIS,.,.,.,.,.,.,H1TR001,OTHR,NaN,NaN,.,2018-05-20,2018-05-20,0,1
24589,254575592,F,F1,ACADEMIC STUDENT,NON US CITIZEN,3PR,CHINA,N,NRA,NO RACE REPORTED - NO ETHNICITY REPORTED,NaN,1993-09-26,Wayne,NJ,7470,1,0,0,62011.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TRANSFER,2016,F,BA,HIS,NaN,Z,CODE FOR NON-MATRICULATED STUDENT - USED BY RE...,2018-01-16,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2018,ENGN,CSCI,CSC,.,.,.,.,.,.,H1TR001,OTHR,NaN,NaN,.,2018-05-20,2018-05-20,0,1
24590,254575592,F,F1,ACADEMIC STUDENT,NON US CITIZEN,3PR,CHINA,N,NRA,NO RACE REPORTED - NO ETHNICITY REPORTED,NaN,1993-09-26,Wayne,NJ,7470,1,0,0,62011.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TRANSFER,2016,F,BA,HIS,NaN,Z,CODE FOR NON-MATRICULATED STUDENT - USED BY RE...,2018-01-16,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2018,SOCS,HIST,HIS,.,.,.,.,.,.,H1TR001,OTHR,NaN,NaN,.,2018-05-20,2018-05-20,0,1

In [117]:
demo[demo['SubjectID']==255461372]

,SubjectID,Gender,Visa Code,Visa Desc,Citizen Type,Citizen Country Code,Citizen Country Name,First Generation Flag,2010 IPEDS Ethnicity Description,2010 Ethnicity Short Desc,Veteran Status Desc,Birthdate,HS City,HS State Prov,HS Postal Code,HS Country,HS Rank,HS Size,HS Graduation Date,SAT Verbal,SAT Math,SAT Writing,SAT Total,ACT English,ACT Math,ACT Soc Science,ACT Nat Science,ACT Composite,B - Type Desc,B - Class Year,B - Time Status Code,B - Degree Code,B - Major1 Code,B - Major2 Code,B - Response Code,B - Response Desc,B - Response Date,B - Action Code,B - Action Desc,B - Action Date,B - Transfer College Code,B - Transfer College Name,B - Transfer GPA,B - Graduated College Name,Und Cohort First YT,Transfer Year Term,Cohort Major1 Disc Code,Cohort Major1 Dept Code,Cohort Major1 Code,Cohort Major2 Disc Code,Cohort Major2 Dept Code,Cohort Major2 Code,Degree Code,Degree Class Year,Degree Major1 Discipline Code,Degree Major1 Dept Code,Degree Major1 Code,Degree Major2 Discipline Code,Degree Major2 Dept Code,Degree Major2 Code,Degree Minor1 Code,Degree Minor2 Code,Degree Minor3 Code,Clust1 Code,Clust1 Dept Code,Clust2 Code,Clust2 Dept Code,Degree Honors Code,Degree Award Date,Degree Confer Date,Num of Minors,Num of Majors
24791,255461372,F,.,.,US CITIZEN,1NY,USA,N,Unknown,NO RACE REPORTED - NO ETHNICITY REPORTED,NaN,1992-06-13,New York,NY,10010,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TRANSFER,2016,F,BA,PHY,NaN,A,ACCEPT OFFER OF ADMISSION,2015-01-05,2,ADMIT,2015-01-05,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0

In [118]:
demo[demo['SubjectID']==181015370]

,SubjectID,Gender,Visa Code,Visa Desc,Citizen Type,Citizen Country Code,Citizen Country Name,First Generation Flag,2010 IPEDS Ethnicity Description,2010 Ethnicity Short Desc,Veteran Status Desc,Birthdate,HS City,HS State Prov,HS Postal Code,HS Country,HS Rank,HS Size,HS Graduation Date,SAT Verbal,SAT Math,SAT Writing,SAT Total,ACT English,ACT Math,ACT Soc Science,ACT Nat Science,ACT Composite,B - Type Desc,B - Class Year,B - Time Status Code,B - Degree Code,B - Major1 Code,B - Major2 Code,B - Response Code,B - Response Desc,B - Response Date,B - Action Code,B - Action Desc,B - Action Date,B - Transfer College Code,B - Transfer College Name,B - Transfer GPA,B - Graduated College Name,Und Cohort First YT,Transfer Year Term,Cohort Major1 Disc Code,Cohort Major1 Dept Code,Cohort Major1 Code,Cohort Major2 Disc Code,Cohort Major2 Dept Code,Cohort Major2 Code,Degree Code,Degree Class Year,Degree Major1 Discipline Code,Degree Major1 Dept Code,Degree Major1 Code,Degree Major2 Discipline Code,Degree Major2 Dept Code,Degree Major2 Code,Degree Minor1 Code,Degree Minor2 Code,Degree Minor3 Code,Clust1 Code,Clust1 Dept Code,Clust2 Code,Clust2 Dept Code,Degree Honors Code,Degree Award Date,Degree Confer Date,Num of Minors,Num of Majors
2,181015370,M,.,.,US CITIZEN,1NY,USA,N,White,WHITE - NO ETHNICITY REPORTED,NaN,1972-11-11,Rochester,NY,14606,1,73,179,NaN,520.0,610.0,NaN,1130.0,18.0,21.0,21.0,21.0,20.0,READMIT,2000,P,BA,PSC,NaN,NaN,NaN,NaN,2,ADMIT,2000-01-07,2429.0,MONROE CMTY COLLEGE,2.73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2010,SOCS,PSCI,PSC,.,.,.,.,.,.,NaN,NaN,NaN,NaN,.,2010-12-31,2011-03-10,0,1
10735,181015370,M,.,.,US CITIZEN,1NY,USA,N,White,WHITE - NO ETHNICITY REPORTED,NaN,1972-11-11,Rochester,NY,14606,1,73,179,NaN,520.0,610.0,NaN,1130.0,18.0,21.0,21.0,21.0,20.0,READMIT,2008,P,BA,PSC,NaN,NaN,NaN,NaN,2,ADMIT,2007-08-23,2429.0,MONROE CMTY COLLEGE,2.73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BA,2010,SOCS,PSCI,PSC,.,.,.,.,.,.,NaN,NaN,NaN,NaN,.,2010-12-31,2011-03-10,0,1